<div class="container mt-5">
  <form [formGroup]="editContactForm" (ngSubmit)="onSubmit()">
    <div *ngIf="contact" class="d-flex align-items-center">
      <span class="form-group mr-1">
        <label class="form-label" for="contact-id">Contact ID</label>
        <input
          class="form-control"
          style="width: 100px"
          data-test="contact-id"
          type="text"
          name="id"
          formControlName="id"
          #id
          readonly
        />
      </span>

      <span class="form-group mr-1">
        <label class="form-label" for="first-name">First Name</label>
        <input
          class="form-control"
          data-test="first-name"
          type="text"
          name="firstName"
          formControlName="firstName"
          #firstName
          minlength="3"
        />
      </span>

      <span class="form-group mr-1">
        <label class="form-label" for="last-name">Last Name</label>
        <input
          class="form-control"
          data-test="last-name"
          type="text"
          name="lastName"
          formControlName="lastName"
          #lastName
          minlength="3"
        />
      </span>

      <span class="form-group mr-1">
        <label class="form-label" for="email">Email</label>
        <input
          class="form-control"
          data-test="email"
          type="text"
          name="email"
          formControlName="email"
          #email
          minlength="5"
        />
      </span>

      <span class="mt-3">
        <button
          class="btn btn-primary"
          data-test="submit"
          type="submit"
          style="width: 200px"
          [disabled]="!(editContactForm.valid && editContactForm.dirty)"
        >
          Save
        </button>
      </span>
    </div>
  </form>
</div>
